*
{
margin:0px;
}

.navbar-header
{
height:100px;
}
.navbar-inverse
{
background-image:url('panorama-2391345_960_720.jpg');
width:100%;
height:auto;
}

.navbar-nav
{
font-size:200%;
}

p
{
font-size:20px;
}



